<div class="container mb-5 mt-5">
  <div class="pricing card-deck flex-column flex-md-row mb-3">
    <!-- Card Begin -->
    <div
      class="card card-pricing text-center px-3 mb-4"
      *ngFor="let deal of deals"
    >
      <span
        class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm"
        >{{ deal.id }}</span
      >
      <div class="bg-transparent card-header pt-4 border-0">
        <h1
          class="h1 font-weight-normal text-primary text-center mb-0"
          data-pricing-value="15"
        >
          <span class="price">{{deal.name}}</span>
        </h1>
      </div>
      <div class="card-body pt-0">
        <ul class="list-unstyled mb-4 text-center">
          <li>Vendor: {{deal.vendor.name}}</li>
          <li>Cost: ${{deal.cost}}</li>
        </ul>
      </div>
    </div>
    <!-- Card End -->
  </div>
</div>
